SECRET_KEY=your_django_secret_key


DB_NAME=your_database_name
DB_USER=your_database_host
DB_PASSWORD=you_password
DB_HOST=you_host
DB_PORT=you_port

CELERY_BROKER_URL=YOU_CELERY_BROKER_URL
CELERY_RESULT_BACKEND=YOU_CELERY_RESULT_BACKEND

TELEGRAM_TOKEN=YOU_TELEGRAM_TOKEN

SSH_KEY=
SSH_USER=
SERVER_IP=
DOCKER_HUB_USERNAME=
DOCKER_HUB_ACCESS_TOKEN=