SECRET_KEY=your_django_secret_key


NAME=your_database_name
DB_USER=your_database_host
PASSWORD=you_password
HOST=you_host
PORT=you_port

CELERY_BROKER_URL=YOU_CELERY_BROKER_URL
CELERY_RESULT_BACKEND=YOU_CELERY_RESULT_BACKEND

TELEGRAM_TOKEN=YOU_TELEGRAM_TOKEN