SECRET_KEY=your_django_secret_key


POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_host
POSTGRES_PASSWORD=you_password
POSTGRES_HOST=you_host
POSTGRES_PORT=you_port

CELERY_BROKER_URL=YOU_CELERY_BROKER_URL
CELERY_RESULT_BACKEND=YOU_CELERY_RESULT_BACKEND

TELEGRAM_TOKEN=YOU_TELEGRAM_TOKEN